@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');

:root {
  --primary-color: #047EBC;
  --primary-color-darker: #B2D7FF;
  --shadow: rgba(0, 0, 0, 0.300)
}

* {
  box-sizing: border-box;
  outline: 0;
}

header{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

header > div {
  display: flex;
  color: aliceblue;
  border-radius: 5px;
  width: 90px;
  height: 25px;
  margin: 10px;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  box-shadow: 5px 5px 5px var(--shadow);
}

header > div > a {
  color: var(--primary-color-darker);
  font-weight: bold;
  font-size: 0.8em;
  text-decoration: none;
  padding: 10px;
}

header > div:hover {
  background-color: var(--primary-color-darker);
}

a:hover {
  color: white;
}

body {
  margin: 0;
  padding: 0;
  background-image: linear-gradient(var(--primary-color), var(--primary-color-darker));
  background-attachment: fixed;
  font-family: 'Open sans', sans-serif;
  font-size: 1.3em;
  line-height: 1.5em;
}

.container {
  max-width: 640px;
  margin: 50px auto;
  background: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 10px 10px 10px var(--shadow);
}

h1 {
  text-align: center;
  text-shadow:  3px 3px 5px var(--shadow);
  font-family: "Roboto Slab", serif;
}

form input, form label, form button {
  display: block;
  width: 100%;
  margin-bottom: 10px;
  border-radius: 5px;
}

form input {
  font-size: 24px;
  height: 50px;
  padding: 0 20px;
}

form input:focus {
  outline: 1px solid var(--primary-color);
}

form button {
  border: none;
  background: var(--primary-color);
  color: #fff;
  font-size: 18px;
  font-weight: 700;
  height: 50px;
  cursor: pointer;
  margin-top: 30px;
}

form button:hover {
  background: var(--primary-color-darker);
}

.paragrafo-resultado, .bad {
  background: rgb(89, 218, 77);
  padding: 10px 20px;
  border-radius: 5px;
}

.bad {
  background: rgb(250, 112, 112);
  border-radius: 5px;
}

footer {
    display: flex;
    background-color: white;
    justify-content: center;
    padding-top: 90%;
    padding: 2px;
    margin: 370px 20px 20px 20px;
    border-radius: 10px;
    box-shadow: 10px 10px 10px var(--shadow);
}